@tailwind base;
@tailwind components;
@tailwind utilities;

:root{ color-scheme: dark; }
html,body{ height:100%; }
body{ @apply bg-base-bg text-base-text antialiased; }

*::-webkit-scrollbar{ height:10px; width:10px; }
*::-webkit-scrollbar-thumb{ background:#26262b; border-radius:8px; }
*::-webkit-scrollbar-track{ background:#141417; }
